
* {
    margin: 0;
    font-family: Montserrat;
}

body {
    margin: 0 10%;
}

/* Top bar */

.top_bar {
    display: flex;
    flex-direction: row;
    line-height: 24px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    font-weight: 500;
}

.top_bar a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}

.top_bar ul {
    align-self: center;
    padding-inline-start: 0;
}

.top_bar ul li:first-child {
    margin-left: 0;
}

.top_bar ul li {
    list-style: none;
    display: inline;
    margin: 10px 20px;
}

.top_bar ul li a:hover {
    color: black;
}

.contact_btn {
    display: flex;
    margin-left: auto;
    padding: 10px;
}

.contact_btn:hover {
    color: black;
}

.contact_btn img {
    width: 24px;
    height: 24px;
    align-self: center;
}

.Login {
    background-color: #407f6a;
    border-radius: 20px;
    display: flex;
    margin-left: 20px;
    padding: 10px;
}

.Login p {
    color: white;
}

.Login img {
    width: 24px;
    height: 24px;
    align-self: center;
}

/* navbar */

.logo {
    height: 50px;
}

.navbar {
    display: flex;
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: rgba(0,0,0,0.1) solid 1px;
}

.navbar ul {
    align-self: center;
}

.navbar ul li {
    list-style: none;
    display: inline;
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}

.navbar ul li a:hover {
    color: black;
}

.searchbar {
    display: flex;
    margin-left: auto;
    align-self: center;
    height: 35px;
}

.searchbar input {
    border: gray solid 1px;
    border-right: none;
    border-radius: 20px 0 0 20px;
    color: gray;
    width: 10vw;
}

.searchbar input:focus {
    color: black;
}

.searchButton {
    border: gray solid 1px;
    border-radius: 0 20px 20px 0;
    border-left: none;
    cursor: pointer;
    width: 40px;
    background: url("https://img.icons8.com/ios/30/000000/search--v1.png") no-repeat;
}

/* main picture */

.fill_image {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.LC_Title {
    font-size: 3em;
    color: white;
    margin-top: 1.5em;
}

.LC_content_container {
    margin-left: 3em;
}

.image_container {
    position: relative;
}

.LC_paragraph {
    color: white;
    width: 18em;
    font-weight: 300;
    margin-top: 1em;
}

/* design for the boxes/templates */

.small_box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.box_img {
    position: relative;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.over_image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.category {
    color: rgba(255, 255, 255, 0.8);
}

.box_title {
    margin: 10px 0;
    color: white;
}

.read_more_p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1em;
    cursor: pointer;
}

.read_more_p:hover {
    color: white;
}
